body {
  font-family: 'Work Sans', sans-serif;
  max-width: 1200px;
  margin: 2rem auto 0;
  padding: 1rem;
}

#media ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  margin: 0 0.5rem 0.5rem;
  flex: 1 0 21%;
}

li.media a,
li.media a:link,
li.media a:visited {
  display: inline-block;
  width: 100%;
  min-height: 200px;
  color: transparent;
}

/* fade image and show text */
li.media a:hover,
li.active a,
li.active a:hover,
li.active a:link,
li.active a:visited {
  color: #fff;
  background-color: rgba(0, 128, 128, 0.75);
  text-align: center;
  line-height: 200px;
}

nav li {
  list-style-type: none;
}

#books {
  background-image: url(../img/books-preview.jpg);
  background-size: cover;
}

#glass {
  background-image: url(../img/glass-preview.jpg);
  background-size: cover;
}

#paintings {
  background-image: url(../img/paintings-preview.jpg);
  background-size: cover;
}

#photo {
  background-image: url(../img/photo-preview.jpg);
  background-size: cover;
}
