html {
  overflow-y: scroll;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1100px;
  margin: 0.5rem auto 0;
  padding: 1rem;
}

header {
  padding-left: 0.2rem;
}

header h1 {
  margin: 0;
  padding-right: 0;
}

h1 a {
  text-decoration: none;
}

header,
#about ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#about ul {
  padding-left: 1.2rem;
}

#about li {
  font-size: 1.2rem;
  padding-left: 0;
  padding-right: 0.75rem;
}

#media ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  padding: 0;
}

li {
  margin: 0 0.5rem 0.5rem;
  flex: 1 0 21%;
}

a:visited {
  color: inherit;
}

li.media a,
li.media a:link,
li.media a:visited {
  display: inline-block;
  width: 100%;
  min-height: 200px;
  color: transparent;
  text-decoration: none;
  font-size: 1.2rem;
}

/* fade image and show text */
li.media a:hover,
li.active a,
li.active a:hover,
li.active a:link,
li.active a:visited {
  color: #fff;
  background-color: rgba(0, 128, 128, 0.75);
  text-align: center;
  line-height: 200px;
}

li {
  list-style: none;
}

li.book-title:before {
  content: '⤷ ';
  font-size: 1.2rem;
}

#books {
  background-image: url(../img/books-preview.jpg);
  background-size: cover;
}

#glass {
  background-image: url(../img/glass-preview.jpg);
  background-size: cover;
}

#paintings {
  background-image: url(../img/paintings-preview.jpg);
  background-size: cover;
}

#photo {
  background-image: url(../img/photo-preview.jpg);
  background-size: cover;
}

main {
  max-width: 1200px;
  margin-top: 2rem;
}

main ul {
  padding: 0;
}

.glass-preview-1 {
  background-image: url(../img/glass-1-preview.jpg);
}

.glass-preview-2 {
  background-image: url(../img/glass-2-preview.jpg);
}

.glass-preview {
  width: 600px;
  height: 449px;
  text-align: center;
  margin: 0 auto 1rem;
}

.glass-preview a,
.glass-preview a:link,
.glass-preview a:visited {
  display: inline-block;
  width: 100%;
  min-height: 449px;
  color: transparent;
}

.glass-preview a:hover {
  color: #fff;
  line-height: 449px;
  background-color: rgba(0, 128, 128, 0.75);
}

.paintings-preview {
  width: 600px;
  height: 600px;
  text-align: center;
  margin: 0 auto;
  background-image: url(../img/painting-harvey-preview.jpg);
}

.paintings-preview a,
.paintings-preview a:link,
.paintings-preview a:visited {
  display: inline-block;
  width: 100%;
  min-height: 600px;
  color: transparent;
}

.paintings-preview a:hover {
  color: #fff;
  line-height: 600px;
  background-color: rgba(0, 128, 128, 0.75);
}

.photo-preview {
  width: 600px;
  height: 379px;
  text-align: center;
  margin: 0 auto;
  background-image: url(../img/photos-slide-preview.jpg);
}

.photo-preview a,
.photo-preview a:link,
.photo-preview a:visited {
  display: inline-block;
  width: 100%;
  min-height: 379px;
  color: transparent;
}

.photo-preview a:hover {
  color: #fff;
  line-height: 379px;
  background-color: rgba(0, 128, 128, 0.75);
}

.story {
  width: 500px;
}
